
/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*/
html {
  overflow-x: hidden;
}
main {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  background-color: pink;
  width: 100vw; 
  justify-content: space-around;
  align-items: center;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
li a {
  font-weight: 600;
  font-size: 1.3rem;
  color: #b12b7b;
  text-decoration: inherit;
}
a:hover {
  color: #041c39;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
.home-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100wh;
}
.animals-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 5px;
}
.animals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  background-color: pink;
}
.animal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  border: 1px solid blue;

}
.animal-image {
  max-width: 250px; 
  height: auto;
  max-height: 250px;
 
}
.animal-image-bigger {
  width: 350px;
  display: block;
}
.animal-info {
  padding-top: 20px;
  width: 450px;
  font-size: 1.3rem;
  padding-bottom: 20px;
}
.not-found-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.not-found {
  text-align: center;
  width: 100vw;
}
/*
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

*/
