
html {
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid black;
}
main {
  flex: 1;
}
h1 {
  font-size: 2.3rem;
}
.navigation-container {
  display: flex;
  flex-direction: row;
  width: 100vw; 
  justify-content: space-around;
  align-items: center;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
li a {
  font-weight: 700;
  font-size: 1.4rem;
  color: #b12b7b;
  text-decoration: inherit;
}
li a:hover {
  color: pink;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}
.home-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;

}
.animals-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 5px;
}
.animals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  width: 300px;
  background-color: pink;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  padding: 10px;
}
.animal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: pink;
  padding: 20px;
}
.fed-recently {
  background-color: rgb(134, 245, 134);
}
.fed-three-hours {
  background-color: rgb(252, 252, 137); 
}
.fed-four-hours {
  background-color: pink;
}
.hungry-name-box {
  display: flex;
  justify-content: center;
}
.hungry-names-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.hungry-name {
  flex: 1 1 calc(25% - 1rem);
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.hungry-warning {
  background-color: whitesmoke;
  width: 190px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  display: block;
  margin-top: auto;
}

.hungry-warning a {
  font-weight: 700;
  color: black;
  text-decoration: inherit;
}
.hungry-warning a:hover {
  color: pink;
}

.animal-image {
  max-width: 250px; 
  height: auto;
  max-height: 220px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
 
}
.animal-image-bigger {
  width: 350px;
  display: block;
  border-radius: 10px;
  
}
.animal-info {
  padding-top: 20px;
  width: 450px;
  font-size: 1.3rem;
  padding-bottom: 20px;
}
.feed-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.feed-time-container button {
  background-color: pink;
  font-weight: 700;
}

.feed-time-container button:hover {
  background-color: rgb(251, 219, 225); 
  transform: scale(1.05); 
}
.feed-time-container button:disabled {
  background-color: rgb(252, 252, 137);
}

footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-bottom: 0;
  position: sticky;
  margin: 0;
  width: 100vw;
}
.not-found-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.not-found {
  text-align: center;
  width: 100vw;
}
/*
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

*/
